.bgrey{
    background-color: rgb(62, 66, 92);
}

.w{
    color: white;
}

.greenw{
    background-color: lightgreen;
}

.h{
    height: 50px;
}

.h-{
    height: 30px;
}

.hh{
    height: 150px;
}

.gr{
    color: rgb(63, 63, 63);
}

.lgr{
    background-color: rgb(68, 66, 146);
}

.cen{
    width: 100%;
}

.linea{
    height: 3px;
    width: 50px;
}

.mg0{
    margin: 0 auto;
}

.bsh{
    color: rgb(41, 41, 41);
}

.bs{

    background-color: rgb(41, 41, 41);
}

.ws{
    background-color: white;
}

.mbh{
    margin-bottom: 30px;
}